@import './styles/header.css';
@import './styles/main.css';


body{
    margin: 0;
    height: 1200px;
    background-color: rgb(239 239 239);
}
.photo{
    height: 600px;
}
#photo{
    height: 400px;
}
a{
    color: black;
    text-decoration: none;
}
@media (max-width: 960px){
    .search{
        display: none;
    }
}
@media (max-width: 540px){
    .post{
        width: 100%;
    }
    .photo{
        width: 100%;
    }
    .nav{
        width: 115px;
        margin-right: 5%;
    }
    .web-logo{
        justify-content: space-around;
        margin-left: 5%;
    }
    .left{
        width: 78px;
    }
    .instagram{
        font-size: 20px;
    }
}
